<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <h1>Prediction Form </h1>
    <div>
  <form action="/result" method="POST">
    <label for="T.N.peptides">T.N.peptides</label>
    <input type="text" id="T.N.peptides	" name="T.N.peptides">
    <br>
    <label for="T.N Alleles">T.N Alleles </label>
    <input type="text" id="T.N Alleles" name="T.N Alleles"
    <br>
    <br>
    <label for="N.CTs">N.CTs </label>
    <input type="text" id="N.CTs" name="N.CTs"
    <br>
    <br>
    <label for="N.cLRPs">N.cLRPs </label>
    <input type="text" id="N.cLRPs" name="N.cLRPs"
    <br>
    <br>
    <label for="TPHBR">TPHBR </label>
    <input type="text" id="TPHBR" name="TPHBR"
    <br>
    <br>
    <label for="TAHBR">TAHBR </label>
    <input type="text" id="TAHBR" name="TAHBR"
    <br>
     <br>
    <label for="Combined Stability Rank">Combined Stability Rank </label>
    <input type="text" id="Combined Stability Rank" name="Combined Stability Rank"
    <br>
    <br>
    <label for="PAS">PAS </label>
    <input type="text" id="PAS" name="PAS"
    <br>
    <br>
    <input type="submit" value="Submit">
    <br>
  </form>
</div>
</body>
</html>